*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

div.img1{
    background-color: #ff0000;
}

div.img2{
    background-color:green;
}

div.img3{
    background-color:yellow;
}

h1{
    color: yellow;
}

h1.green{
    color: green;
}