* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

div.img1,
div.img2,
div.img3 {
    min-height: 115vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 0;
}

div.img1 {
    background-color: #ff0000;
}

div.img2 {
    background-color: green;
}

div.img3 {
    background-color: yellow;
}

h1 {
    color: yellow;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
}

h1.green {
    color: green;
}

nav {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

button {
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 50%;
    font-weight: bolder;
    cursor: pointer;
}

body {
    margin: 0;
    overflow-x: hidden;
}